@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

/* //////////RESET\\\\\\\\\\ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ///////////////VARIABLES\\\\\\\\\\\\\\\ */ 

:root {
    /* BORDERS */
    --CT-BORDER-RADIUS: 20px;
    --CT-BORDER: 7px solid #ffffff;
    --IMG-BORDER-RADIUS: 10px;

    /* COLORS */
    --ANYLINK-COLOR: #0000ff;
    --BODY-BGCOLOR: #d6e2f0;
    --BOX-COLOR: #a09797;
    --CT-BGCOLOR: #ffffff;
    --DIV-COLOR:  #1f3251;
    --HOVER-ACTIVE-COLOR: #800080;

    /* FONTS */
    --BODY-FF: "Nunito", "Fugaz One", sans-serif;
    --BOX-FS: 20px;
    --DIV-FS: 1.9rem;
    --DIV-FW: bold;
    --FOOTER-FS: 1.5rem;

    /* margin */
    --BOX-MARGIN: 1.2rem 0 3rem 1rem;
    --CT-MARGIN: 4rem auto;
    --IMG-MARGIN: 0.5rem auto 0 auto;
    --SHIFT-MARGIN: 0 1.5rem 0 2rem;
    --SPACE-MARGIN: 0 1.5rem 0 1.5rem;

    /* STANDARD PADDING */
    --BOX-1-PADDING: 0 0 0 2rem;
    --BOX-2-PADDING: 0 0 0 1.5rem;
    --DIV-H1-PADDING: 0 0 0 1rem;
    --DIV-H2-PADDING: 0 0 0 0.5rem;
    --FIGURE-PADDING: 0.5rem 0 0 0;

    /* Width & height */
    --BODY-H:  50%;
    --BODY-MAXW: 1440px;
    --CT-MW: 370px;
    --FIGURE-HEIGHT: auto;
    --FIGURE-MH: 100%;
    --FIGURE-WIDTH: 100%;    
    --IMG-WIDTH: 350px;
}

/* ///////////////GENERAL STYLES\\\\\\\\\\\\\\\ */

/* //////////The commented html and body styles
 are based on prefrence and you might want to use them together \\\\\\\\\\ */

/* html {   
    background-color: #1f3251;
} */

/* 
body {
    background-color:  #d6e2f0;
    max-width: 1440px;
    height: 50%;
    display: grid;
    box-shadow: 0 0 10px 0 black;
    margin: 10rem 5rem 10rem 5rem;
} */

body {
    background-color: var(--BODY-BGCOLOR);
    display: grid;
    height: var(--BODY-H);
    max-width: var(--BODY-MAXW);
    font-family: var(--BODY-FF);
}

.container {
    background-color: var(--CT-BGCOLOR);
    border-radius: var(--CT-BORDER-RADIUS);
    border: var(--CT-BORDER);
    display: grid;
    justify-content: center;
    margin: var(--CT-MARGIN);
    min-width: var(--CT-MW);
}

figure {
    height: var(--FIGURE-HEIGHT);
    min-height: var(--FIGURE-MH); 
    padding: var(--FIGURE-PADDING);
    width: var(--FIGURE-WIDTH);  
}

img {
    border-radius: var(--IMG-BORDER-RADIUS);
    display: block;
    justify-content: center;
    margin: var(--IMG-MARGIN);
    width: var(--IMG-WIDTH);
}

.shift {
    margin: var(--SHIFT-MARGIN);
}

.space {
    margin: var(--SPACE-MARGIN);
}

.box {
    color: var(--BOX-COLOR);
    font-size: var(--BOX-FS);
    margin: var(--BOX-MARGIN);
}

.box1 {
    padding: var(--BOX-1-PADDING);
}

.box2 {
    padding: var(--BOX-2-PADDING);
}

.box3 {
    text-align: center;
}

footer {
    font-size: var(--FOOTER-FS);
}

a:any-link {
    color: var(--ANYLINK-COLOR);
}
a:hover,a:active {
    color: var(--HOVER-ACTIVE-COLOR);
}

/* ///////////////MEDIA QUERIES\\\\\\\\\\\\\\\ */

/* //////////VARIABLES\\\\\\\\\\ */

:root {
      /* Width & height */
      --MEDIA-BODY-MAXW: 375px;
  
      /* margin */
      --MEDIA-CT-MARGIN: 1rem auto;
      --MEDIA-SHIFT-MARGIN: 0;
      --MEDIA-SPACE-MARGIN: 0;
}

/* //////////GENERAL STYLES\\\\\\\\\\ */

@media screen and (max-width: 576px)  {
    body {
        box-shadow: none;
        max-width: var(--MEDIA-BODY-MAXW);
    }

    .container {
        margin: var(--MEDIA-CT-MARGIN);
    }

    .shift {
        margin: var(--MEDIA-SHIFT-MARGIN);
    }
    
    .space {
        margin: var(--MEDIA-SPACE-MARGIN);
    }

}
